extends layout

block content
  h1= title
  
  - let items = results;
  div(class="container-fluid")
    each item in items
      div(class="row m-1")
        div(class="col-sm-8")
          | Item #{item.dogname} (#{item.breed}) is #{item.age} years old
        div(class="col-sm-4")
          button.btn.btn-primary(
            onclick=`dispatch("/dog/update?id=${item._id}")`
          ) Update

script.
  function dispatch(path) {
    window.location.href = path;
  }