extends layout

block content
  .container.mt-4
    h1 Update Dog
    if errors
      .alert.alert-danger
        ul
          each error in errors
            li= error.msg
    
    form(method='POST' action=`/dog/update/${dog._id}?_method=PUT`)
      .form-group
        label(for='name') Name:
        input#name.form-control(
          type='text'
          name='name'
          value=dog.name
          required
        )
      
      .form-group
        label(for='breed') Breed:
        input#breed.form-control(
          type='text'
          name='breed'
          value=dog.breed
          required
        )
      
      .form-group
        label(for='age') Age:
        input#age.form-control(
          type='number'
          name='age'
          value=dog.age
          min='0'
          required
        )
      
      button.btn.btn-primary(type='submit') Update
      a.btn.btn-secondary.ml-2(href='/dog') Cancel